@import "semantic-ui";
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
.image-logo {
  height: auto;
}
.fnt-cust {
  font-size: 20px;
  font-family: "Oleo Script Swash Caps", cursive;
}
.chatbox {
  height: 450px;
}
