@import "semantic-ui";
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
.image-logo {
  height: auto;
}
.fnt-cust {
  font-size: 20px;
  font-family: "Oleo Script Swash Caps", cursive;
}
.chatbox {
  height: 450px;
}
.icon_cust {
  background-color: #f2711c;
  padding: 1px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.75;
}
.icon_cust:hover {
  opacity: 1;
}
